ion-header ion-icon{
	font-size:36px;
	padding-left: 12px;
}

.create_new p{
	font-size:28px;
	font-weight:bold;
	margin:5px 0;
}

.create_new span{
	font-size:14px;
}

.upload{
	background-color: var(--ion-color-primary-tint, #fd7634);
	background-image: linear-gradient( 
	140deg, #fd7634 0%, #df5b1a 60%);
	padding:20px;
	box-shadow: 0 0px 4px 0 rgb(0 0 0 / 80%), 0 2px 8px 0 rgb(0 0 0 / 10%);
	color:var(--ion-color-medium-contrast, #ffffff);
	border-radius:16px;
	margin-top:6px;
}


.upload p{
	margin:5px 0;
	font-size:14px;
}

.upload span{
	font-size:28px;
	font-weight:bold;
}

ion-content{
	position:relative;
}

.upload_section{
	position:absolute;
	top:20%;
}