<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-icon name="close" (click)="closeModal()"></ion-icon>
	</ion-toolbar>
	<ion-row>
		<ion-col size="12" class="create_new ion-padding-start">
			<p>Create new</p>
			<span>Select a content type</span>
		</ion-col>
	</ion-row>
	
</ion-header>

<ion-content>

	<ion-row class="upload_section">
		<ion-col size="12" class="ion-padding-horizontal">
			<div class="upload">
				<p>Upload</p>
				<span>Photo</span>
			</div>
		</ion-col>

		<ion-col size="12" class="ion-padding-horizontal">
			<div class="upload">
				<p>Upload</p>
				<span>Video</span>
			</div>
		</ion-col>
		
		<ion-col size="12" class="ion-padding-horizontal">
			<div class="upload">
				<p>Capture from</p>
				<span>Camera</span>
			</div>
		</ion-col>
	</ion-row>

</ion-content>
