<ion-header>

</ion-header>

<ion-content class="registerbg">
	<ion-grid>
		<ion-row>
			<ion-col size="12" class="logo ion-text-center">
				<img src="../../../assets/images/WWSINGLES.png" />
			</ion-col>	
				
			<ion-col size="12">
				<ion-button expand="block" class="createacc_btn" [routerLink]="['/register']" routerDirection="forward">
					Create Account
				</ion-button>
			
			</ion-col>
			<ion-col size="12">
				<ion-button expand="block" fill="outline" class="signin_btn" [routerLink]="['/login']" routerDirection="forward">
					Sign In
				</ion-button>
			
			</ion-col>

		</ion-row>
	
	</ion-grid>


</ion-content>
