<ion-header class="ion-no-border"> 
 <ion-toolbar mode="ios">
	<!--<ion-buttons slot="start">
		<ion-back-button defaultHref="home" text="" [icon]="buttonIcon"></ion-back-button>
	</ion-buttons>-->
	
	<ion-title class="ion-text-center">Terms and Conditions</ion-title>

  </ion-toolbar>  
</ion-header>

<ion-content>

	<ion-grid class="ion-padding-horizontal webadjust">
		<ion-row>
			<ion-col size="12">
				<p class="tc_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				
				<p class="tc_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				
				<p class="tc_title">Lorem Ipsum</p>

				<p class="tc_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				
				<p class="tc_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				
			</ion-col>		
		</ion-row>
	
	</ion-grid>

</ion-content>
