
<ion-content>
	<ion-row>
		<ion-col size="12" class="ion-text-center">
			<p class="title">Report User</p>
		</ion-col>	
	</ion-row>
	
	
	<ion-item class="ion-text-center">
		<p class="tellus">Is this person bothering you? Tell us what they did.</p>
	</ion-item>
	
	<ion-item class="ion-text-center">
		<p class="tellus">Inappropriate Photos</p>
	</ion-item>
	
	<ion-item class="ion-text-center">
		<p class="tellus">Feels Like Spam</p>
	</ion-item>
	
	<ion-item class="ion-text-center">
		<p class="tellus">User is Age</p>
	</ion-item>

	<ion-item class="ion-text-center">
		<p class="tellus">Other</p>
	</ion-item>

</ion-content>
