<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
	<ion-buttons slot="start">
		<ion-back-button defaultHref="home" text="" [icon]="buttonIcon"></ion-back-button>
	</ion-buttons>
	
	<ion-title class="ion-text-center">Contact Us</ion-title>

  </ion-toolbar>  
</ion-header>

<ion-content>	
	<ion-grid class="ion-padding-horizontal webadjust">
		<ion-row>
			<ion-col size="12">
				<div class="lightback">
					<p class="contact_title">Address</p>
					<p><ion-icon name="location" class="location_icn"></ion-icon> 23 Avenue de Paris 70512</p>					  
				</div>
			</ion-col>

			<ion-col size="12">
				<div class="lightback">
					<p class="contact_title">Email</p>
					<p><ion-icon name="mail"></ion-icon> hello@wwsingles.com</p>					  
				</div>
			</ion-col>

			<ion-col size="12">
				<div class="lightback">
					<p class="contact_title">Contact Number</p>
					<p><ion-icon name="call"></ion-icon> +33-6734-33243</p>					  
				</div>
			</ion-col>		
		</ion-row>
	</ion-grid>
</ion-content>
