
.reload_icn{
	font-size: 26px;
    margin-left: 12px;
}



ion-footer ion-toolbar{
	height:60px;
	border-radius:30px 30px 0 0;
	box-shadow:0 0px 4px 0 rgb(0 0 0 / 20%), 0 0px 18px 0 rgb(0 0 0 / 25%);
}